body {
  margin: 0;
  background-color: bisque;
  color: #222;
}

.app {
  display: flex;
  justify-content: center;
}

.hello {
  border: solid #222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

h1 {
  flex-direction: column;
  width: fit-content;
  border: solid rgb(179, 0, 89);
  border-radius: 7%;
  padding: 3px;
  font-size: xx-large;
  color: 222;
}

button {
  background-color: rgb(179, 0, 89);
  border: solid 5px bisque;
  padding: 3%;
  font-size: x-large;
}
